body
{
    background-color: var(--col-1);
}

.game-config.page
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;

    position: relative;
    top: 100px;
}

.game-config-content
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    padding-top: 32px;
    padding-bottom: 64px;
}

.game-config.tasks.page .game-config-content
{
    gap: 16px;
}

.game-config-content form,
.game-config-options
{
    width: 100%;
}

.game-config-content form
{
    display: flex;
    flex-direction: column;
}

.game-config-content button
{
    padding: 12px;
    background-color: var(--btn);
    color: var(--white);
    border-radius: 4px;
    font-family: var(--font-1);
    font-size: 16px;
    transition: background-color .1s;
    font-size: 1.4rem;
    margin-top: 16px;
    margin-bottom: 16px;
    min-width: 100px;

    border: 2px solid var(--black);
    box-shadow: -4px 4px 0px var(--black);
    transition: all .2s;
}

.game-config-content button:disabled
{
    translate: -4px 4px;
    box-shadow: none;
    background-color: var(--gray);
    color: black;
}

.game-config-content button:not(:disabled):hover
{
    border: 2px solid var(--select);
    cursor: pointer;
}

.game-config-content button:not(:disabled):active
{
    background-color: var(--select);
    border: 2px solid var(--select);
    translate: -2px 2px;
    box-shadow: -2px 2px 0px var(--black);
}

.game-config-content > h2
{
    font-family: var(--font-2);
    color: var(--white);
    font-size: 3rem;
    font-weight: 700;
    white-space: nowrap;

    text-shadow:
        -2px 1px 0px var(--col-4), 
        -2px 2px 0px var(--col-4), 
        -1px 2px 0px var(--col-4),
        1px 1px 8px var(--gray);
}

.game-config-options
{
    width: 100%;
    border-spacing: 16px;
}

.game-config-options th
{
    font-size: 1.4rem;
    font-weight: 700;
    text-align: right;
    width: fit-content;
    color: var(--black);
}

.game-config-options input,
.game-config-options textarea,
.game-config-options select
{
    font-family: var(--font-1);
    font-weight: 300;
    font-size: 1.4rem;
    padding: 4px 8px;
    background-color: var(--col-2);
    border: 2px solid transparent;
    border-radius: 4px;
    width: 100%;
    color: var(--black);
    resize: none;
}

.game-config-options input:hover,
.game-config-options textarea:hover,
.game-config-options select:hover
{
    border-bottom: 2px solid var(--select);
}

.game-config-options input:focus,
.game-config-options input[type=checkbox]:hover,
.game-config-options textarea:focus,
.game-config-options select:focus
{
    outline: none;
    border: 2px solid var(--select);
}

.game-config-options input:invalid,
.game-config-options textarea:invalid,
.game-config-options select:invalid
{
    border: 2px solid var(--error);
}

.game-config-options input[type=checkbox]
{
    appearance: none;
    position: relative;
    width: 3rem;
    height: 3rem;
    aspect-ratio: 1/1;
    background-color: var(--error);
    border: 2px solid var(--black);
    box-shadow: -4px 4px 0px var(--black);
    transition: all .2s;
}

.game-config-options input[type=checkbox]:hover
{
    cursor: pointer;
}

.game-config-options input[type=checkbox]:active
{
    translate: -2px 2px;
    box-shadow: -2px 2px 0px var(--black);
}

.game-config-options input[type=checkbox]:checked
{
    background-color: var(--success);
}

.game-config-actions
{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
}

.game-config-actions button
{
    height: fit-content;
}

.game-config-actions .create
{
    font-size: 2rem;
}

.task-definition
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.task-definition h2
{
    text-align: center;
    font-family: var(--font-2);
    font-size: 2rem;
    color: var(--white);
    text-shadow:
        -2px 1px 0px var(--col-4), 
        -2px 2px 0px var(--col-4), 
        -1px 2px 0px var(--col-4), 
        1px 1px 6px var(--gray);
}

.game-config-content .add-task
{
    height: 100%;
}

.game-config-content .add-task,
.game-config-content .add-response
{
    background-color: transparent;
    width: 100%;
    border-style: dashed !important;
    color: var(--black);
    box-shadow: none;
}

.game-config-content .add-task:not(:disabled):hover,
.game-config-content .add-response:not(:disabled):hover
{
    color: var(--select);
    background-color: transparent;
    box-shadow: none;
}

.game-config-content .add-task:not(:disabled):active,
.game-config-content .add-response:not(:disabled):active
{
    background-color: transparent;
    box-shadow: none;
    translate: 0 0;
    
    border-color: var(--white);
    color: var(--white);
}

.task-definition .delete-task
{
    background-color: var(--error);
}

.task-definition .responses
{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.task-definition .response
{
    display: flex;
    height: 3rem;
    gap: 8px;
    white-space: nowrap;
    overflow: visible;
}

.task-definition .response .content
{
    flex-grow: 1;
}

.task-definition .add-response
{
    margin: 0px;
}

.task-definition .delete-response
{
    margin: 0px;
    padding: 8px;
    min-width: 0px;

    color: var(--white);
    background-color: var(--error);
}

.task-definition .completion-msg
{
    display: flex;
    gap: 8px;
    align-items: center;
}

.task-definition .completion-msg input:not(:checked) + textarea
{
    display: none;
}